* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --black: #2C2C2C;
    --primary: #F97951;
    --grey: #575757;
    --secondary: #7ADAF9;
    --white: #FFF;
    --light-grey: #C3C3C3
}

button, a {
    cursor: pointer;
}

body {
    background-color: var(--black);
}